{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NekoDocker Dashboard - Singin </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" />
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="{% static 'assets/CSS/dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'assets/CSS/docs.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/open-iconic/font/css/open-iconic-bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'assets/CSS/signin.css' %}" rel="stylesheet">
  </head>

  <body>
  <form class="form-signin" action="/login/" method="post">
      <h2 class="form-signin-heading">Please sign in</h2><br />
      <input type="text" name="username" value="" id="username" class="form-control" placeholder="Username">
      <input type="password" name="password" value="" id="password" class="form-control" placeholder="Password"> <br />
      <div class="checkbox">
          <label>
              <input type="checkbox" value="remember-me"> Remember me
          </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
  </body>
</html>